@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Kavivanar');
@import url('https://fonts.googleapis.com/css?family=Modern+Antiqua');
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Macondo+Swash+Caps');
/*Estilo body,html*/
body, html{
    height:100%;
}
/*imagenmando*/
body {
    padding: 0;
    margin: 0;
    min-height: 2400px;
}

#imglogo{
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; 
    transition: width 2s, height 1s, transform 2s;   
    width: 100px;
    height: 70px
}
/*imagenmando*/

#imglogo:hover{
    width: 100px;
    height: 70px;
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);    

}
/*Usuario*/
#usuario {
    width: 100px;
    height: 84px;
}
/*capanegra*/
#cabeza {
    background-color: black;
    width: 100%;
    height: 125px;
    background: linear-gradient(to bottom,white,black);
    color: white;
}
/*texto-blanco-alineado*/
#cabeza > ul {
    color: white;
    text-align: center;
    margin: 0;
}
/*Estilos de listas*/
#cabeza > ul > li{
    list-style: none;
    display: inline-block;
    margin: 50px;
}
/*Mas estilos del body*/
body {
    padding: 0;
    margin: 0;
}
/*inicio-videojuegos-comics*/
#botones{
    background-color: black;
    width: 100%;
    height:100px;
}
/*inicio-videojuegos-comics*/
#botones > ul{
    color:white;
    text-align: left;
    margin: 0;
    padding-left: 507px;
}    
/*inicio-videojuegos-comics*/
#botones > ul > li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    margin: 62px;
    margin-right: -11px;
    margin-left: 1px;
}

/*Inicio-Portada-Noticias-Videos*/
#subtipos{
    background-color: red;
    width: 100%;
    height:40px;    





}
/*Inicio-Portada-Noticias-Videos*/
#subtipos > ul {
    color: white;
    text-align: left;
    margin: 0;
    padding-left: 507px;
}
/*Inicio-Portada-Noticias-Videos*/
#subtipos > ul > li{
    list-style: none;
    display: inline-block;
    margin: 10px; 
} 
/*imagen de fondo*/
#imagen{
    background: url("descarga (1).jpg")  no-repeat top center;   
    width: 100%;
    z-index: 1; 

}    

/*****Menu superior******/

/*boton activo se pondra de color rojo*/
.activo{
    background-color:red;
}

/*Inicio-Portada-Noticias-Videos con opacidad*/
#subtipos li:hover{
    opacity:0.8;
    cursor:pointer;
}


/*************Interior web********************/
/*Imagen de fondo1*/
.contenedor{
    width:100%;
    background: url("85216.jpg") no-repeat center top;
    height:100%;
    min-height:1300px;
    padding-top:50px;
    background-size:cover;

}

/*Imagen de fondo2*/
.contenedor2{
    width:100%;
    background: url(imagenesvideosvideojuegos/313.jpg) no-repeat center top;
    height:100%;
    min-height:1300px;
    padding-top:50px;
    background-size:cover;}


/*Imagen de fondo3*/
.contenedor3{
    width:100%;
    background: url(imagenesvideosvideojuegos/albinolullaby.jpg) no-repeat center top;
    height:100%;
    min-height:1300px;
    padding-top:50px;
    background-size:cover;        



}
/*Imagen de fondo4*/
.contenedor4{
    width:100%;
    background: url(imagenesvideoscomics/comic1.jpg) no-repeat center top;
    height:100%;
    min-height:1300px;
    padding-top:50px;
    background-size:cover;        








}
/*Imagen de fondo5*/
.contenedor5{
    width:100%;
    background: url(imagenesvideoscomics/depositphotos_110047048-stock-illustration-retro-comic-blue-background-raster.jpg) no-repeat center top;
    height:100%;
    min-height:1300px;
    padding-top:50px;
    background-size:cover;         
}
.contenedor6{
    width:100%;
    background: url(imagenesvideoscomics/injustice-2.jpg) no-repeat center top;
    height:100%;
    min-height:1300px;
    padding-top:50px;
    background-size:cover;      



}
.contenedor7{
    width:100%;
    background: url(imagenesvideoscomics/fondoantiheroes.jpg) no-repeat center top;
    height:100%;
    min-height:1300px;
    padding-top:50px;
    background-size:cover;      



}



/*borde1*/
#lomasbuscado {
    width: 100%;
    max-width: 771px;

    float: none;
    margin: 0 auto;
    height: 100%;
    border: 10px solid;
    border-radius: 10px 10px;
    background: #62B6FF;
    background: linear-gradient(90deg, #62B6FF, gray);
    max-height: 1364px;
}

#lomasbuscado2 {
    width: 100%;
    max-width: 905px;
    max-height: 1273px;
    float: none;
    margin: 0 auto;
    height: 100%;
} 
#lomasbuscado2 > ul{
    list-style: none;   


}    
#lomasbuscado2 > ul > li{
    display: inline-block;
    padding: 13px;
    border: 2px double blue;
    background-color: white;
    opacity: 0.6;
    cursor: pointer;
}
#lomasbuscado2 > ul > li:hover {
    display: inline-block;
    padding: 13px;
    border: 2px double blue;
    background-color: white;
    opacity: 0.6;
    cursor: pointer;
    background-color: black;
    color:white;
}     


a{
    color:white;
    text-decoration: none;



}
#lomasbuscado19{
    width: 100%;
    max-width: 771px;
    max-height: 1273px;
    float: none;
    margin: 0 auto;
    height: 100%;
    border: 10px solid;
    border-radius: 10px 10px;
    background: #62B6FF;
    background: linear-gradient(90deg, greenyellow, gray); 






}



/*videojuegos/incio*/

.datagrid table { border-collapse: collapse;
                  text-align: left;
                  width: 100%; } 
.datagrid {font: normal 12px/150% Courier New, Courier, monospace;
           background: #fff; overflow: hidden; }
.datagrid table td, 
.datagrid table th { padding: 10px 10px; }
.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699',
                              endColorstr='#00557F');background-color:#006699; 
                          color:#FFFFFF; font-size: 17px;
                          font-weight: bold;
                          border-left: 1px solid #0070A8; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #00496B; border-left: 1px solid #E1EEF4;font-size: 16px;font-weight: normal; }.datagrid table tbody .alt td { background: #E1EEF4; color: #00496B; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #006699;background: #E1EEF4;} .datagrid table tfoot td { padding: 0; font-size: 10px } .datagrid table tfoot td div{ padding: 1px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #006699;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #006699; color: #FFFFFF; background: none; background-color:#00557F;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }

/*videojuegos/inicio/textomovimiento*/
#angrytext {
    font-size: 16px;
    font-weight: bold;
    color: #4794D3;
    width: 300px;
    margin: 90px auto;
    /* -webkit-animation: shake 3s ease-in 2s infinite alternate; */
    animation: shake 3s ease-in 2s infinite alternate;
    text-align: center;
}

@-webkit-keyframes shake {
    0%{
        transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
    }
    4%{
        transform: rotate(15deg);
        -webkit-transform: rotate(15deg);
        color:gray;
    }
    6%{
        transform: rotate(-18deg);
        -webkit-transform: rotate(-18deg);
        color:gray;
    }
    10%{
        transform: rotate(18deg);
        -webkit-transform: rotate(18deg);
    }
    15%{
        transform: rotate(-22deg);
        -webkit-transform: rotate(-22deg);
    }
    19%{
        transform: rotate(22deg);
        -webkit-transform: rotate(22deg);
    }
    24%{
        transform: rotate(-18deg);
        -webkit-transform: rotate(-18deg);
    }
    32%{
        transform: rotate(18deg);
        -webkit-transform: rotate(18deg);
    }
    46%{
        transform: rotate(-12deg);
        -webkit-transform: rotate(-12deg);
    }
    63%{
        transform: rotate(-12deg);
        -webkit-transform: rotate(-12deg);
    }
    88%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
}

@keyframes shake {
    0%{
        transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
    }
    4%{
        transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        color:gray;
    }
    6%{
        transform: rotate(-18deg);
        -ms-transform: rotate(-18deg);
        color:gray;
    }
    10%{
        transform: rotate(18deg);
        -ms-transform: rotate(18deg);
    }
    15%{
        transform: rotate(-22deg);
        -ms-transform: rotate(-22deg);
    }
    19%{
        transform: rotate(22deg);
        -ms-transform: rotate(22deg);
    }
    24%{
        transform: rotate(-18deg);
        -ms-transform: rotate(-18deg);
    }
    32%{
        transform: rotate(18deg);
        -ms-transform: rotate(-18deg);
    }
    46%{
        transform: rotate(-12deg);
        -ms-transform: rotate(-12deg);
    }
    63%{
        transform: rotate(-12deg);
        -ms-transform: rotate(-12deg);
    }
    88%{
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }
}




/*Videojuegos/inicio/sombra h1*/
h1 {
    text-shadow: 2px 2px 8px #FF0000;
    font-family: monospace;
    font-style: oblique;
    font-size: 36px;
}
/*Para todas las imagenes*/
img {
    box-shadow: 5px 5px 15px 5px #000000;
}
/*videojuegos/incio/borde tabla*/
td {
    border: 2px solid black;
}

ul {
    list-style-type: decimal;


}

/*videojuego/portada/bordes*/
#linea {
    display: inline-block;
    border: 2px dotted red;
    border-radius: 10px;
    transition: All 1s ease;
    animation: example2 1.3s infinite;
    background-color: orangered;
}
@keyframes example2{
    from {color: black;}
    to {color: white;}
}








#linea2 {
    display: inline-block;
    border: 2px dashed #F28D30;
    background-color: white;
    border-radius: 10px;
    transition: All 1s ease;
    animation: example2 1.3s infinite;
    background-color: red;
}


#linea3 {
    display: inline-block;
    border: 2px inset blue ;
    background-color: white;
    border-radius: 10px;
    animation: example2 1.3s infinite;
    background-color: red;
}
#linea4 {
    display: inline-block;
    border: 2px outset  gray;
    background-color: white;
    border-radius: 10px;
    animation: example2 1.3s infinite;
    background-color: gray;
}


/*letra Juego1*/
#juego1 {
    font-style: italic;
    font-family: sans-serif;
    font-variant: petite-caps;
    font-size: 34px;
}
/*Estilo juego1*/
img#imgred {
    margin: 10px 33px;
}
img#imgof {
    margin: 10px 33px;
}
img#imgspider {
    margin: 10px 33px;
}




/*borde2*/
#terror {
    width: 100%;
    max-width: 997px;
    max-height: 1102px;
    float: none;
    margin: 0 auto;
    height: 90%;
    border: 10px solid;
    border-radius: 10px 10px;
    background: #BB0000;
    background: linear-gradient(1000deg, #BB0000, black);
}
/*borde3*/
#comics {
    width: 100%;
    max-width: 997px;
    max-height: 1906px;
    float: none;
    margin: 0 auto;
    height: 120%;
    border: 10px dotted;
    border-radius: 10px 10px;
    background: yellow;
    background: linear-gradient(1000deg, #BB0000, greenyellow);
}

/*borde4*/
#comicsportada {
    width: 100%;
    max-width: 997px;
    max-height: 1170px;
    float: none;
    margin: 0 auto;
    height: 90%;
    border: 10px double;
    border-radius: 10px 10px;
    background: yellow;
    background: linear-gradient(70deg, white,#DA1E25);
}
/*Texto borde2*/
#blanco{
    color:#ffffff;
    font-size: 12px;
    position: absolute;


}

/*videojuegos/noticias/foto1*/
#imgterror {
    position: relative;
    left: 220px;
    width: 199px;
    height: 135px;
    float: left;
}
/*videojuegos/noticias/foto2*/
#Evilwithin {
    position: relative;
    left: 114px;
    width: 185px;
    height: 135px;
    float: left;
}
/*videojuegos/noticias/foto3*/
#Pt {
    left: -22px;
    width: 186px;
    height: 135px;
    position: relative;
}
#re7 {
    position: relative;
    float: left;
    left: 22px;
    border-radius: 5px;
    background-color: white;
    top: 101px;
    font-family: sans-serif;
}


#tew1y2 {
    position: relative;
    float: left;
    border-radius: 5px;
    background: white;
    top: 101px;
    font-family: sans-serif;
    transition: 2s;
}
#tew1y2:hover{
    background: black;
    color:pink;




}
#PT {
    position: relative;
    float: left;
    left: 26px;
    border-radius: 5px;
    background: white;
    top: 101px;
    font-family: serif;
    font-style: oblique;
    background-color: white;
    letter-spacing: 3px;
    transition: 2s;
}
#PT:hover{
    background-color: black;
    color: white;






}
#nat {
    left: 220px;
    width: 197px;
    height: 135px;
    position: relative;
}
#FNAF {
    left: 20px;
    width: 197px;
    height: 135px;
    position: relative;
    display: inline-block;
    bottom: 28px;
    color: white;
    text-shadow: 3px 3px 4px red;
}
#outlast {

    width: 185px;
    height: 135px;
    position: relative;
    background-image: url("imagenesvideosvideojuegos/descarga (6).jpg");
    left:19px;
}
#OU {
    left: -161px;
    position: relative;
    display: inline-block;
    bottom: 28px;
    color: white;
    font-size: larger;
    animation: example 1.9s infinite;
    font-style: oblique;
    border: 2px solid;
    border-radius: 4px;
    top: -7px;
}
@keyframes example{
    from {color: red;}
    to {color: black;}
}


#Ai {
    left: -46px;
    width: 186px;
    height: 135px;
    position: relative;
}

#AI {
    transition: All 1s ease;
    left: -174px;
    position: relative;
    display: inline-block;
    bottom: 28px;
    color: white;
    font-size: larger;
    font-style: oblique;
    border: 2px dotted;
    border-radius: 4px;
    top: -7px;
    animation: example 1.3s infinite;
}
#AI:hover{
    transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);        
}
@keyframes example{
    from {color: red;}
    to {color: black;}
}

.catalogo {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: -112px;
}
.derecha {
    float: right;
}
.empresa{
    text-align: right;
}
.foto {
    border: 5px solid red;
    position: relative;
    bottom: 10px;
    left: -76px;
    top: 177px;
    width: 215px;
}
.producto {
    letter-spacing: 3px;
    border-top: red solid 1px;
    text-transform: uppercase;
    position: relative;
    left: 227px;
    bottom: -28px;
    width: 235px;
    font-weight: bold;
}
.precio {
    border-top: 4px #66ff66 solid;
    border-bottom: 4px #66ff66 solid;
    position: relative;
    left: 228px;
    bottom: -11px;
    width: 131px;
    text-transform: uppercase;
    font-style: italic;
}
.parrafo {
    position: relative;
    bottom: 5px;
    width: 810px;
    height: 100px;
    left: 230px;
    font-family: 'Macondo Swash Caps', cursive;
}
.parrafo1 {
    position: relative;
    width: 1020px;
    height: 100px;
    bottom: 29px;
    left: 7px;
    font-family: 'Raleway', sans-serif;
}         
.div{
    position: relative;
    bottom: 220px
}
.div1{
    position: relative;
    bottom: 435px;
}
#video
{
    transition: all .2s ease-in-out;    
    z-index: 1;     


}
#video:hover{
    transform: scale(2);     


}

#video22
{

}
#video1{
    width: 100px;
    height: 100px;








}






.foto2 {
    border: 5px solid red;
    position: relative;
    left: 3px;
    top: 177px;
    width: 211px;
}

.foto3 {
    border: 5px solid red;
    position: relative;
    left: 3px;
    top: 177px;
    width: 211px;
}
.foto4 {
    border: 5px solid red;
    position: relative;
    left: 3px;
    top: 177px;
    width: 211px;
}
.foto5{    border: 5px solid red;
           position: relative;
           left: 3px;
           top: 177px;
           width: 211px;
}
#c3 {
    transition: All 2s ease;
    display: inline-block;
    color: white;
    font-size: -webkit-xxx-large;
    font-style: oblique;
    border: 2px dotted;
    animation: example 1.3s infinite;
    background-color: wheat;
    border-radius: 25px;
}

#c3:hover {
    transform: rotate(360deg) scale(0.67) skew(1deg) translate(0px);
}


#textmove {
    font-size: 30px;
    font-weight: bold;
    color: #4794D3;
    width: 300px;
    margin-left: 312px;
    /* -webkit-animation: shake 3s ease-in 2s infinite alternate; */
    animation: shake 3s ease-in 2s infinite alternate;
    border: 3px dashed;
    border-radius: 11px;
    text-align: center;
    text-shadow: 2px 2px 6px black;

}
#textmove2 {
    font-size: 30px;
    font-weight: bold;
    color: #4794D3;
    width: 300px;
    margin: 90px auto;
    animation: shake 3s ease-in 2s infinite alternate;
    border: 3px dashed;
    border-radius: 11px;
    text-align: center;
    text-shadow: 2px 2px 6px black;
    margin-top: 136px;
}
#textmove3 {
    font-size: 30px;
    font-weight: bold;
    color: #4794D3;
    width: 300px;
    margin: 90px auto;
    animation: shake 3s ease-in 2s infinite alternate;
    border: 3px dashed;
    border-radius: 11px;
    text-align: center;
    text-shadow: 2px 2px 6px black;
    margin-top: 136px;
}

li > #twd {
    margin-left: 330px;
    margin-top: -47px;
    list-style: none;
}
img#twd {
    position: absolute;
}
p#PDP{
    position: relative;
    border-radius: 35px;
    background-color: red;
    color: floralwhite;
    padding: 10px;
    width: 420px;
    font-family: 'Raleway', sans-serif;
    margin-left: 590px;
    border: 2px dotted black;
    top: 230px;
    left: 250px;
} 



p#PDP:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 20px solid red;
    border-right: 18px solid transparent;
    border-left: 18px solid transparent;
    margin: -30px 0 0 40px;
    bottom: 102px;
    left: -66px;


}
p#PDP:before{
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(180deg);
    rotation: 180deg;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);  


}

p#ptwd {
    position: relative;
    border-radius: 35px;
    background-color: chocolate;
    color: floralwhite;
    padding: 10px;
    width: 420px;
    font-family: 'Indie Flower', cursive;
    margin-left: 288px;
    border: 2px dotted;
}

p#ptwd:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 20px solid chocolate;
    border-right: 18px solid transparent;
    border-left: 18px solid transparent;
    margin: -30px 0 0 40px;
    bottom: 127px;
    left: -66px;  
}
p#ptwd:before{
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(180deg);
    rotation: 180deg;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);  
}



#I {
    margin-top: -50px;
    position: absolute;

}
#pI {
    position: relative;
    left: 280px;
    padding: 15px;
    color: blue;
    bottom: 52px;
    width: 350px;
    background: linear-gradient(#f9d835, #f3961c);
    border-radius: 25px / 50px;
    font-family: Verdana;
    box-shadow: 2px 2px 10px black;
}
#pI:hover {
    color: white;
    box-shadow: 2px 2px 10px blue;
}

.oval-thought {
    position: relative;
    width: 270px;
    padding: 50px 40px;
    margin: 1em auto 80px;
    text-align: center;
    color: #fff;
    background: #075698;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
    background: -moz-linear-gradient(#2e88c4, #075698);
    background: -o-linear-gradient(#2e88c4, #075698);
    background: linear-gradient(#2e88c4, #075698);
    -webkit-border-top-left-radius: 220px 120px;
    -webkit-border-top-right-radius: 220px 120px;
    -webkit-border-bottom-right-radius: 220px 120px;
    -webkit-border-bottom-left-radius: 220px 120px;
    -moz-border-radius: 220px / 120px;
    border-radius: 174px 174px 174px 174px;
    bottom: 300px;
}
blockquote {
    margin: 1em 0;


} 
.oval-thought:before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -29px;
    width: 30px;
    height: 30px;
    background: #075698;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    bottom: 55px;
    top: 112px;
}
.oval-thought:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: -63px;
    width: 15px;
    height: 14px;
    background: #075698;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    top: 157px;
}


table.steelBlueCols {
    border: 4px solid #555555;
    background-color: #555555;
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
}
table.steelBlueCols td, table.steelBlueCols th {
    border: 1px solid #555555;
    padding: 5px 10px;
}
table.steelBlueCols tbody td {
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
}
table.steelBlueCols td:nth-child(even) {
    background: #398AA4;
}
table.steelBlueCols thead {
    background: #398AA4;
    border-bottom: 10px solid #398AA4;
}
table.steelBlueCols thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;

}
table.steelBlueCols thead th:first-child {
    border-left: none;
}

table.steelBlueCols tfoot td {
    font-size: 13px;
}
table.steelBlueCols tfoot .links {
    text-align: right;
}
table.steelBlueCols tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #398AA4;
    padding: 2px 8px;
    border-radius: 5px;
}
#contenido{
    display: none;    


}
#contenido2{
    display: none;    


}
#contenido3{
    display: none;    


}
#contenido4{
    display: none;    



}

#contenido5{
    display: none;    


}

#contenido6{
    display: none;    

}

#contenido7{
    display: none;    

}


#imgtw{
    background-color: white;    




}
#marvel {
    width: 180px;
    border: 10px solid red;
}    

.ventas {
    transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
}
.ventas:hover{
    transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
    transition: All 1s ease;
    transform: rotate(48deg) scale(4) skew(1deg) translate(1px);
}
.ventas2 {
    transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
}
.ventas2:hover{
    transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
    transition: All 1s ease;
    transform: rotate(48deg) scale(4) skew(1deg) translate(1px);
}
.ventas3 {
    transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
}
.ventas3:hover{
    transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
    transition: All 1s ease;
    transform: rotate(48deg) scale(4) skew(1deg) translate(1px);
}
.ventas4 {
    transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
}
.ventas4:hover{
    transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
    transition: All 1s ease;
    transform: rotate(48deg) scale(4) skew(1deg) translate(1px);
}
#DC {
    width: 180px;
    border: 10px solid red;
    background-color: gray;
}    



/*    
.ventas {
transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
}

*/
/*
.ventas:hover{
transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
transition: All 1s ease;
transform: rotate(48deg) scale(4) skew(1deg) translate(1px);

}
*/
#amarillo {
    color: yellow;
    font-family: cursive;
    font-style: oblique;
    transition: All 1s ease-out;
    animation: example19 1.3s infinite;
    text-shadow: 2px 2px 8px;
}
@keyframes example19{
    from {color: red;}
    to{color:blue}
    to {color: yellow;}
    0% {
        color: red;
    }
    50% {
        color: blue;
    }
    100% {
        color: yellow;
    }
}
#SO {
    width: 292px;
    position: absolute;
    border: 2px inset white;
}
#pSO {
    position: relative;
    margin-left: 315px;
    bottom: 30px;
    text-shadow: 2px 2px 6px white;
    font-family: "Times New Roman", Times, sans-serif;
    font-style: italic;
}
img#AR {
    width: 292px;
    background-color: white;
    position: absolute;
    margin-top: 42px;
    border: 2px solid red;
}
#pAR {
    color: red;
    position: relative;
    margin-left: 315px;
    top: 6px;
    text-shadow: 2px 2px 25px white;
    font-family: "Georgia";
}
img#Visage {
    width: 292px;
    margin-top: 89px;
    position: absolute;
    border: 2px outset gray;
}
p#pV {
    color: gray;
    position: relative;
    top: 89px;
    margin-left: 315px;
    font-family: "Courier New";
    text-shadow: 2px 2px 6px white;
}
img#Agony {
    width: 292px;
    margin-top: 142px;
    position: absolute;
    border: 2px dashed orange;
}
#pA {
    color: gold;
    position: relative;
    top: 158px;
    margin-left: 315px;
    text-shadow: 2px 2px 8px orange;
    font-family: monospace;
    font-style: oblique;
}
#val_ana_1 {
    height: 106px;
    position: relative;
    border-radius: 3px;
    color: #fff;
    top: 28px;
}
.bg_c1c {
    background-color: #2C528B;
}
.img_ana_1 {
    position: absolute;
    z-index: 1;
    width: 154px;
    height: 154px;
    border: 4px solid #fff;
    border-radius: 85px;
    top: -28px;
    left: 24px;
    background-color: #fff;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; 
    transition: width 2s, height 1s, transform 2s;    
}
.img_ana_1:hover {
    position: absolute;
    z-index: 1;
    width: 154px;
    height: 154px;
    border: 4px solid #fff;
    border-radius: 85px;
    top: -28px;
    left: 24px;
    background-color: #fff;
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(400deg);
}

.b {
    font-weight: bold;
}
.nota_ana_1 {
    position: absolute;
    font-size: 80px;
    top: -5px;
    left: 205px;
}
.fftext {
    font-family: 'Oxygen',Arial,Helvetica;
}
.nota_ana_txt_1 {
    position: absolute;
    font-size: 38px;
    top: 15px;
    left: 335px;
    font-weight: bold;
}
#val_ana_3 {
    height: 106px;
    position: relative;
    border-radius: 3px;
    color: #fff;
    top: 28px;
}
.bg_c4c, .bg_c15c, .bg_c32c, .bg_c38c {
    background-color: #437308;
}
.img_ana_3 {
    position: absolute;
    z-index: 1;
    width: 154px;
    height: 154px;
    border: 4px solid #fff;
    border-radius: 85px;
    top: -28px;
    left: 24px;
    background-color: #fff;
}
.b {
    font-weight: bold;
}
.nota_ana_3 {
    position: absolute;
    font-size: 80px;
    top: -5px;
    left: 205px;
}
.fftext {
    font-family: 'Oxygen',Arial,Helvetica;
}
.nota_ana_txt_3 {
    position: absolute;
    font-size: 38px;
    top: 15px;
    left: 335px;
    font-weight: bold;
}

.nota_interior2 {
    text-shadow: -1px -1px 2px rgba(0,0,0,0.15), 1px 1px 3px rgba(255,255,255,0.2), 0px 1px 2px rgba(0,0,0,0.7);
}
.fftit {
    font-family: 'Roboto',Arial,Helvetica;
}
#p1 {
    margin-top: 64px;
    border: 2px solid white;
    background-color: white;
    color: black;
}
#favor1 {
    float: left;
    list-style: none;
    background-color: greenyellow;
    padding: 26px;
    padding-left: 111px;
    width: 264px;
    border: 2px solid white;
}
ol#favor1 > li {
    margin-left: -39px;
}    





#contra1 {
    float: left;
    list-style: none;
    background-color: red;
    padding: 53px;
    padding-left: 111px;
    width: 264px;
    border: 2px solid white;
}

ol#contra1 > li {
    margin-left: -39px;
}
#img1 {
    float: left;
    width: 18px;
    background: white;
    margin-left: -39px;
    margin-top: -29px;
}  
#img2 {
    float: left;
    width: 18px;
    background: white;
    margin-left: -39px;
} 
#img3 {
    float: left;
    width: 18px;
    background: white;
    margin-left: -39px;
}  
#img4 {
    float: left;
    width: 18px;
    background: white;
    margin-left: -39px;
}
#img5 {
    float: left;
    width: 18px;
    background: white;
    margin-left: -39px;
}

.btwd{
    display: none;    



}

.textobm{
    display:none;    



}
div#mejor {
    margin-top: 148px;
}

#val_ana_2 {
    height: 106px;
    position: relative;
    border-radius: 3px;
    color: #fff;
    top: 28px;
}
.bg_c1c {
    background-color: #2C528B;
}
.img_ana_2 {
    position: absolute;
    z-index: 1;
    width: 154px;
    height: 154px;
    border: 4px solid #fff;
    border-radius: 85px;
    top: -28px;
    left: 24px;
    background-color: #fff;
}
.b {
    font-weight: bold;
}
.nota_ana_2 {
    position: absolute;
    font-size: 80px;
    top: -5px;
    left: 205px;
}
.fftext {
    font-family: 'Oxygen',Arial,Helvetica;
}
.nota_ana_txt_2 {
    position: absolute;
    font-size: 38px;
    top: 15px;
    left: 335px;
    font-weight: bold;
}
.cnt {
    border: 2px dashed white;
    background-color: black;
}
p.tit {
    margin-top: 66px;
    font-weight: bold;
    color: #66cc33;
    text-shadow: 2px 2px 2px green;
}
p.tit2 {

    font-weight: bold;
    color: red;
    text-shadow: 2px 2px 2px red;
}
.tthau{
    display: none;    



}
#villano {
    color: orange;
    margin: 0;
    padding: 0;
    font-family: monospace;
    transition: All 1s ease-out;
    animation: example223 1.3s infinite;
    text-shadow: 2px 2px 8px;
}
@keyframes example223{
    from {color: red;}
    to{color:blue}
    to {color: yellow;}
    0% {
        color: red;
    }
    50% {
        color: black;
    }
    100% {
        color: orange;
    }
}

#deadpool {
    width: 633px;
    height: 537px;
    background-image: url(imagenesvideoscomics/depool.jpg);
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 10px;
}
#Venom{
    width: 633px;
    height: 537px;
    background-image: url(imagenesvideoscomics/venom.jpg);
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 10px;
}
#RH{
    width: 633px;
    height: 537px;
    background-image: url(imagenesvideoscomics/lostday.jpg);
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 10px;
}
#S{
    width: 633px;
    height: 537px;
    background-image: url(imagenesvideoscomics/Spawn_213-1.png);
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 10px;    




}
#botonvillano1{   
    display: inline-block;
    margin: auto;
    padding: 10px;
    border: 1px solid red;
    position: relative;
    right: 1008px;
    text-transform: uppercase;
    font-family: Greta Sans Condensed Bold,Greta Sans Bold,Arial,sans-serif;
    font-size: 20px;
    color: #1c1c1c;
    top: 30px;

}
#botonvillano1:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
#botonvillano2{   
    display: inline-block;
    margin: auto;
    padding: 10px;
    position: relative;
    right: 894px;
    text-transform: uppercase;
    font-family: Greta Sans Condensed Bold,Greta Sans Bold,Arial,sans-serif;
    font-size: 20px;
    color: #1c1c1c;
    top: 30px;
    border: 1px solid white;

}
#botonvillano2:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
#botonvillano3{   
    display: inline-block;
    margin: auto;
    text-transform: uppercase;
    font-family: Greta Sans Condensed Bold,Greta Sans Bold,Arial,sans-serif;
    font-size: 20px;
    color: red;
    bottom: 15px;
    background-color: silver;
    padding: 10px;
    border: 1px solid silver;
    position: relative;
    left: 504px;

}
#botonvillano3:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
#botonvillano4{   
    display: inline-block;
    margin: auto;
    text-transform: uppercase;
    font-family: Greta Sans Condensed Bold,Greta Sans Bold,Arial,sans-serif;
    font-size: 20px;
    color: silver;
    bottom: 15px;
    background-color: green;
    padding: 10px;
    border: 1px solid red;
    position: relative;
    left: 618px;
}
#botonvillano4:hover {
    background-color: #1B1926;
    color: green;
    cursor: pointer;
}


#tdp {
    border: 3px solid black;
    background: linear-gradient(901deg, red, yellow);
    width: 632px;
    text-align: center;
    margin-left: 357px;
    margin-top: 1px;
    border-radius: 40px 40px 40px 40px;
}
#cerrado{
    display: none;    



}
#cerrado3{
    display: none;    



}
#cerrado2{
    display: none;    



}

#cerrado4{
    display: none   


}
#imdp1 > ul > li {
    display: inline-block;
    display: inline-block;
    padding: 68px;
    margin-left: -188px;
}


#imdp1 > ul {
    margin-top: -10px;
    text-align: center;
}

#btidp {
    position: relative;
    width: 270px;
    padding: 50px 40px;
    margin: 1em auto 80px;
    text-align: center;
    color: #fff;
    background: #075698;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
    background: -moz-linear-gradient(#2e88c4, #075698);
    background: -o-linear-gradient(#2e88c4, #075698);
    background: linear-gradient(red, #0757AA);
    -webkit-border-top-left-radius: 220px 120px;
    -webkit-border-top-right-radius: 220px 120px;
    -webkit-border-bottom-right-radius: 220px 120px;
    -webkit-border-bottom-left-radius: 220px 120px;
    -moz-border-radius: 220px / 120px;
    border-radius: 174px 174px 174px 174px;
    bottom: 300px;
    margin-left: 72px;
}
blockquote {
    margin: 1em 0;


} 
#btidp:before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 330px;
    width: 30px;
    height: 30px;
    background: #075698;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    bottom: 55px;
    top: 89px;
}
#btidp:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 370px;
    width: 15px;
    height: 14px;
    background: #075698;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    top: 111px;
}

p#pVenom {
    border: 2px dashed;
    background-color: white;
    width: 495px;
    margin-left: 358px;
    margin-top: 0px;
    font-family: 'Indie Flower', cursive;
    height: 412px;
}

p#pRH {
    border: 2px dashed;
    background-color: white;
    width: 356px;
    margin-left: 358px;
    margin-top: 0px;
    font-family: 'Indie Flower', cursive;
    height: 446px;
    transition: All 1s ease-out;
    animation: example111 4.7s infinite;
}
p#PS {
    border: 2px dashed;
    background-color: white;
    width: 356px;
    margin-left: 358px;
    margin-top: 0px;
    font-family: 'Indie Flower', cursive;
    height: 446px;
    transition: All 1s ease-out;
    animation: example122 4.7s infinite;
}
#tV{
    display: none;    


}    
#mantenmeinformado {

    position: relative;
    left: 73px;
    top: 133px;
    border: 2px solid orange;
    background-color: red;
    border-radius: 116px;
    color: white;
    text-shadow: 2px 2px 0px black;
    padding: 11px;
    box-shadow: 2px 2px 8px orange;
    cursor: pointer;

}

@keyframes example111{
    0% {
        background-color: orange;
    }
    100% {
        /* color: blue; */
    }
    100% {
        background-color: red;
    }
    0% {
        /* color: red; */
    }
    50% {
        background-color: black;
        color: white;
        border: 2px solid;
    }
    100% {
        /* color: orange; */
    }

}
@keyframes example122{
    0% {
        background-color: orange;
    }
    100% {
        /* color: blue; */
    }
    100% {
        background-color: red;
    }
    0% {
        /* color: red; */
    }
    50% {
        background-color: black;
        color: white;
        border: 2px solid;
    }
    100% {
        /* color: orange; */
    }
}
/*
.ventas {
    transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
}
    transition: All 1s ease;
    transform: rotate(48deg) scale(4) skew(1deg) translate(1px);
*/
#articulo1{
    border: 2px dashed;
    background-color: white;
    margin-top: 0px;
    font-family: 'Raleway', sans-serif;
    height: 412px;
    font-size: 15px;
    background: linear-gradient(to top,red,orange);
    color: white;  


}
#hipervAmpliarN1{
    color:white;    


}
div#DG {
    margin-top: -227px;
}
div#ME {
    margin-top: -192px;
}
div#Biomutant {
    margin-top: -192px;
}
div#PS4video {

    position: relative;
    bottom: 440px;
    left: 290px;
}
#contenido11{
    display: none;    


}
#contenido12{
    display: none;    
}
#contenido13{
    display: none;    
}
#contenido14{
    display: none;    
}
#contenido16{
    display: none;    
}
#contenido17{
    display: none;    


}
#contenido18{
    display: none;    


}
#contenido19{
    display: none;    


}
#cerrado5{
    display: none;    



}

input#inputinicio {
    position: relative;
    right: 69px;
    bottom: 30px;
    padding: 3px;
    border-radius: 6px;
}
img#lupa {
    width: 20px;
    border: 2px solid orange;
    position: relative;
    right: 197px;
    bottom: 22px;
    border-radius: 6px;
    cursor: pointer;
}
img#nuevoUsuario {
    width: 75px;
    position: relative;
    right: 227px;
    background-color: white;
    top: 40px;
}
div#UA {
    position: relative;
    right: 124px;
    top: -41px;
    color: silver;
}
span#IS {
    position: relative;
    right: 90px;
    bottom: 26px;
    color: orangered;
}
span#CC {
    position: relative;
    right: 90px;
    bottom: 26px;
    color: orangered;
}

#textoloco{
    height: 100px;
    width: 100px;
    border: 1px solid #f00;
    margin: 10px auto;
    background: #ccc;
    text-align: center;
    transition: all 2s ease-in-out;    




}
#textoloco:hover{
    height: 100px;
    width: 100px;
    transform: rotate(720deg) scale(1,1);
}


#textoloco2{
    height: 100px;
    width: 100px;
    border: 1px solid #f00;
    margin: 10px auto;
    background: #ccc;
    text-align: center;
    transition: all 2s ease-in-out;    




}
#textoloco2:hover{
    height: 100px;
    width: 100px;
    transform: rotate(720deg) scale(1,1);
}




#thebest {
    transform: rotate(0deg) scale(1.001) skew(-18deg) translate(-5px);
    color: white;
    border: 2px solid red;
    background-color: red;
    padding: 10px;
    width: 352px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    margin-left: 4px;
    margin-left: 37px;
}

div#slogan {
    transform: rotate(0deg) scale(1.001) skew(-18deg) translate(-5px);
    color: white;
    border: 2px solid black;
    background-color: black;
    width: 372px;
    font-size: 16px;
    margin-top: -18px;
    margin-left: 22px;
}
#cuadrothebest{
    border: 3px solid;
    width: 60%;
    float: left;
    margin-left: 21px;
    background: linear-gradient(to bottom,aquamarine,black);
    background-color: aquamarine;

}
#cuadrothebestUKEEUUJ {
    border: 2px solid;
    float: left;
    width: 36%;
    height: 831px;


    background: linear-gradient(to right,white,red,blue);
}

#lomas {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border: 2px solid yellow;
    background-color: yellow;
    position: relative;
    top: 22px;
    width: 162px;
    left: 21px;
}




div#PlataformaSP > ul {
    float: left;
    list-style: none;
}
div#juegosSP >ul {
    float: left;
    list-style: none;
}
#borde11 {
    font-size: 35px;
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
    text-align: center;
    padding: 15px;
    color: red;
    width: 39px;
}
div#ngame1 {
    position: relative;
    bottom: 75px;
    left: 76px;
}
#imgGOF {
    width: 100px;
    position: relative;
    bottom: 80px;
    left: 195px;
    transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
}
#imgGOF:hover {
    width: 100px;
    position: relative;
    bottom: 80px;
    left: 195px;
    transition: All 1s ease;
    transform: scale(4) skew(1deg) translate(1px);
    z-index: 1;

}




#plataforma {
    position: relative;
    bottom: 100px;
    left: 105px;
    color: red;
}    
li#juegos {
    border: 2px solid black;
    width: 293px;
    text-align: center;
    background-color: black;
    color: yellow;
    transition: All 1s ease-out;
    animation: example233 0.5s infinite;
    text-shadow: 2px 2px 1px;
}    
@keyframes example233{
    from {color: red;}
    to{color:blue}
    to {color: yellow;}
    0% {
        color: orange;
    }
    100% {
        color: yellow;
    }
}

li#Plataformas {
    border: 2px solid black;
    width: 293px;
    text-align: center;
    background-color: black;
    color: yellow;
    transition: All 1s ease-out;
    animation: example233 0.5s infinite;
    text-shadow: 2px 2px 1px;
}     
#borde12 {
    font-size: 19px;
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
    text-align: center;
    padding: 34px;
    color: red;
    width: 96px;
    position: relative;
    display: table-cell;

}
#borde13 {
    font-size: 19px;
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
    text-align: center;
    padding: 34px;
    color: red;
    width: 96px;
    position: relative;
    margin-top: 10px;
    display: table-cell;
}
#borde14{
    font-size: 19px;
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
    text-align: center;
    padding: 34px;
    color: red;
    width: 96px;
    position: relative;
    margin-top: 10px;
    display: table-cell;
}
#borde15{
    font-size: 19px;
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
    text-align: center;
    padding: 34px;
    color: red;
    width: 96px;
    position: relative;
    margin-top: 10px;
    display: table-cell;
}


#ps4{ 
    position: relative;
    right: 68px;
}
#XBOX{

    font-size: 16px;
    position: relative;
    right: 41px;
    bottom: 12px; 

}
span#NS {
    font-size: 10.3px;
    position: relative;
    right: 33px;
    bottom: 17px;
}
span#PC {
    position: relative;
    right: 69px;
    bottom: 17px;
}


imgmandos{
    position: relative;
    bottom: 13px;    



}
#imgmandos:hover{
    border-radius: 100%;   
    cursor: pointer;    


}
div#ESPAÑA {
    position: relative;
    padding: 16px;
}
span#eGOF {
    position: relative;
    bottom: 130px;
    left: 169px;
    font-size: 14px;
}
.eFC5{
    position: relative;
    /*bottom: 130px;*/
    /*left: 169px;*/
    font-size: 12px;    




}
#cerrado6{
    display: none;    



}
#losotros{
    position: relative;
    padding: 16px;    



}
#JAPÓN{
    border: 2px solid black;
    width: 293px;
    text-align: center;
    background-color: black;
    color: yellow;    


}
#UK{
    border: 2px solid black;
    width: 293px;
    text-align: center;
    background-color: black;
    color: yellow;    


}
#EEUU{
    border: 2px solid black;
    width: 293px;
    text-align: center;
    background-color: black;
    color: yellow;    


}

#cuadrothebestUKEEUUJ > ul > li{    list-style: none;}


img#imgJ {
    position: relative;
    width: 26px;
    bottom: 20px;
}

img#imgUK {
    position: relative;
    width: 21px;
    bottom: 22px;
}
img#imgEEUU {
    width: 27px;
    position: relative;
    bottom: 21px;
}
span#japon {
    position: relative;
    right: 83px;
}

span#uk {
    position: relative;
    right: 62px;
}
span#usa {
    position: relative;
    right: 62px;
}
img#imgDP {
    height: 384px;
    width: 248px;
}
img#imgDP {
    height: 384px;
    width: 248px;
}
img#imgV {
    height: 384px;
    width: 248px;
}
img#imgRH {
    height: 384px;
    width: 248px;
}
#imgS{
    height: 384px;
    width: 248px;    


}
#dead-pool{
    animation: mymove123 5s linear 2s infinite;;
    -moz-animation: mymove123 5s; /* Firefox */
    -webkit-animation: mymove123 5s; /* Safari and Chrome */
    -o-animation: mymove123 5s; /* Opera */

}
@keyframes mymove123 {
    from {left: -10000px; display: none}
    to {left: 0px; display: block}
}
p#pJP {
    border: 2px double white;
    position: relative;
    background-color: red;
    color: white;
    right: 22px;
    font-family: 'Indie Flower', cursive;
    border-radius: 7px;
    font-style: oblique;
    box-shadow: 2px 2px 80px;
    font-size: 13px;
}
p#pUK {
    position: relative;
    right: 22px;
    border-radius: 7px;
    font-family: serif;
    font-style: italic;
    border-left: 2px solid blue;
    border-right: 2px solid darkblue;
    border-top: 2px dashed red;
    border-bottom: 2px dotted red;
    background-color: white;
    color: red;
    box-shadow: 2px 2px 80px;
}
#pEEUU{


    border: 2px solid;
    position: relative;
    right: 22px;
    border-radius: 7px;
    font-family: sans-serif;
    font-style: normal;
    border-left: 2px solid blue;
    border-right: 2px solid darkblue;
    border-top: 2px dashed red;
    border-bottom: 2px dotted red;
    background-color: white;
    color: red;
    box-shadow: 2px 2px 80px blue;
}
img#idp {
    width: 123px;
}
div#bordeDP {
    background-image: url(imagenesvideoscomics/10-momentos-mas-absurdos-deadpool-comics_9.jpg);
    width: 100%;
    height: 515px;
}
div#bordeVENOM {
    background-image: url("imagenesvideoscomics/Daimx5NXUAEyVos.jpg");
    background-repeat: no-repeat;
    width: 100%;

}
div#bordeREDHOOD {
    background-image: url("imagenesvideoscomics/batman-dc-comics-red-hood-the-dark-knight-1600x900-wallpaper.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 778px;
}


div#JOKER{
    color: gold;
    text-shadow: 2px 2px 8px wheat;
    width: 50px;
    padding: 5px;
    position: relative;
    top: 236px;
    left: 472px;
    background-color: #2F8084;
    border: 2px double red;

}


div#ROBIN{
    color: gold;
    text-shadow: 2px 2px 8px wheat;
    width: 50px;
    padding: 5px;
    position: relative;
    top: 150px;
    left: 895px;
    background-color: #2F8084;
    border: 2px double red;
    display: inline-block;

}
#vcdc{
    display: inline-block;
    padding: 5px;
    position: relative;
    top: 414px;
    width: 156px;
    left: 667px;
    color: red;
    font-family: fantasy;
    text-shadow: white 2px 2px 0px;
    font-size: 32px;


}
#vcdc:hover{
transform:


}
img#imgJo {
    float: left;
    width: 218px;
}
img#imgRh {
    float: right;
    width: 309px;
    margin-top: 29px;
}
#PJOKER{
    padding: 10px;
    text-align: justify;
    border: 2px double purple;
    color: white;
    width: 587px;
    background-color: green;
    font-family: 'Kavivanar', cursive;
    font-size: 14px;
    transition: All 30s ease-in-out;
    animation: example212 1.3s infinite;
}
@keyframes example212{
    from {color: red;}
    to{color:black}
    to {color: purple;}
    to{color:white}
    0% {
        color: red;
    }
    50% {
        color: black;
    }
    70%{
        color:purple;  


    }
    100% {
        color: white;
    }
}

#PR{
    padding: 9px;
    text-align: justify;
    border: 2px double red;
    color: red;
    height: 306px;
    margin-left: 609px;
    background: linear-gradient(to top,white,black);
    background-color: black;
    font-family: 'Modern Antiqua', cursive;
    font-size: 13px;


}
#contenido22{
    display: none;    


}
#contenido23{
    display: none;    


}
#contenido25{
    display: none;    

}
#barrapagina{
    height: 5px;
    width: 0%;
    background-color: red;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 0.7;    



}
div#textoimgDP {
    position: relative;
    bottom: 417px;
    left: 302px;
    width: 619px;
    border: 2px double red;
    background: black;
    color: white;
}
.videodeadpool{
    width: 353px;
    height: 197px;   


}
.momentoDP {
    width: 253px;
}
#mostrarVideo{
    display: none;    


}
label {
    margin-left: 14px;
}


summary#HV {
    color: white;
}
p#simbiote {
    position: relative;
    bottom: 336px;
    left: 435px;
    color: white;
    width: 202px;
    font-variant-caps: normal;
    font-style: italic;
}
#transicionSimbiote{
    position: relative;
    animation: mymove22 5s;    


}
#transicionSimbioteSpiderman{
    position: relative;
    animation: mymove28 5s;        
    bottom: 328px;


}
#transicionSimbioteVenom{
    position: relative;
    animation: mymove29 5s;        
    bottom: 696px;


}
@keyframes mymove22 {
    from {left: -5000px; display: none}
    to {left: 0px; display: block}
}

@keyframes mymove28 {
    from {right: -10000px; display: none}
    to {right: 0px; display: block}
}
@keyframes mymove29 {
    from {top: -10000px; display: none}
    to {top: 0px; display: block}
}
p#spsimbiote {
    position: relative;
    bottom: 365px;
    left: 248px;
    color: white;
    box-shadow: 4px 2px 8px white;
    width: 239px;
    font-family: sans-serif;
}
#venomsimbiote{
    box-shadow: 5px 10px 20px grey inset;
    color: whitesmoke;
    font-family: fantasy;
    text-shadow: 2px 2px 0px black;
    font-size: 20px;
    letter-spacing: 1px;
    width: 427px;
    position: relative;
    bottom: 269px;
    left: 629px;    



}
input#userId {
    position: relative;
    left: 10px;
}
input#userId {
    position: relative;
    left: 10px;
}
div.polaroid {
    width: 284px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.spider-man3{
    float: left;
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
    border: 2px dashed red;
    color: silver;
    margin-left: 162px;
    background: linear-gradient(to right,red,black);
    margin-top: 200px;
}




.FilmVenom{
    float: left;
    -ms-transform: rotate(-8deg);
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
    background-color: black;
    color: darkgray;
    border: 3px solid cornsilk;
    font-style: oblique;
    margin-top: 200px;


}



div.rotate_right {
    float: left;
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(-7deg);
    background-color: green;
    border: 2px solid red;
    color: gold;
    text-shadow: 2px 2px 1px black;
}

div.rotate_left {
    float: left;
    -ms-transform: rotate(-8deg);
    -webkit-transform: rotate(-8deg);
    transform: rotate(-7deg);
    background-color: black;
    color: gold;
    border: 3px solid cornsilk;
    margin-left: 64px;
}
div.rotate_left2 {
    float: left;
    -ms-transform: rotate(-8deg);
    -webkit-transform: rotate(-8deg);
    transform: rotate(-7deg);
    background-color: black;
    color: gold;
    border: 3px solid cornsilk;
    margin-left: -21px;

}

#thebestofDP{
    position: relative;
    top: 147px;
    height: 250px;
    margin: auto;
    font-family: arial, cursive;
    font-size: 81px;
    color: white;
    text-shadow: 0 1px 0 #f00, 0 2px 0 #f00, 0 3px 0 #f00, 0 4px 0 #f00, 0 5px 0 #ff0000, 0 6px 0 #ff0000, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, .6);
}


#videozombie{
    transition: all .2s ease-in-out;    
    z-index: 1;    

}
#videozombie:hover{
    transform: scale(2);   
}

#video4{
    transition: all .2s ease-in-out;    
    z-index: 1;        
}
#video4:hover{
    transform: scale(2);      


}
#video5{
    transition: all .2s ease-in-out;    
    z-index: 1;     


}
#video5:hover{
    transform: scale(2);        


}
#video6{
    transition: all .2s ease-in-out;    
    z-index: 1;     



}

#video6:hover{
    transform: scale(1);       


}

#ImagenTWD {
    width: 800px;
}



p.producto22 {
    font-family: arial;
    font-style: italic;
    font-size: 81px;
    color: black;
    text-shadow: 0 1px 0 white, 0 2px 0 white, 0 3px 0 white, 0 4px 0 white, 0 5px 0 white, 0 6px 0 white, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, .6);
    position: relative;
    bottom: 306px;
    left: 677px;
}

.foto6 {
    border: 5px solid white;
    position: relative;
    top: 174px;
}
p.parrafo22{
    position: relative;
    left: 948px;
    bottom: 358px;
    font-family: 'Arvo', serif;
    color: whitesmoke;
    text-shadow: 2px 2px 8px;
}

p.parrafo23{
    position: relative;
    left: 291px;
    bottom: 158px;
    font-family: 'Arvo', serif;
    color: whitesmoke;
    text-shadow: 2px 2px 8px;
}
#contenido50{
    display: none;    




}
div#VJS1 {
    font-family: 'VT323', monospace;
    font-size: 18px;
    color: lawngreen;
}
div#VJS2 {
    font-family: 'VT323', monospace;
    font-size: 18px;
    color: lawngreen;
}
div#VJS3 {
    font-family: 'VT323', monospace;
    font-size: 18px;
    color: lawngreen;
}
img#imgTMSTVG {
    float: left;
}
p#pr3 {
    text-align: justify;
    font-size: 21px;
    font-family: 'VT323', monospace;
}
img#STE {
    float: right;
}
p#pr1 {
    text-align: justify;
    font-size: 10px;
    font-family: monospace;
}
img#ESTADOSUNIDOS {
    width: 21px;
}


div#orange {
    width: 100%;
    max-width: 845px;
    float: none;
    margin: 0 auto;
    height: 217px;
    background: orange;
    max-height: 1364px;
    position: relative;
    margin-top: 18px;
    background-color: orange;
}

div#orangeopacity {
    width: 100%;
    max-width: 845px;
    float: none;
    margin: 0 auto;
    height: 513%;
    opacity: 0.5;
    background: orange;
    max-height: 1364px;
    position: relative;
    margin-top: 18px;
    background-color: orange;
}


div#white {
    width: 90%;
    max-width: 771px;
    float: none;
    margin: 0 auto;
    height: 1000px;
    background: white;
    position: relative;
    top: 120px;
    border: 2px solid;
    margin-top: -281px;
}
#h3formulario{

    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
button#submit {
    position: relative;
    margin-top: 27px;
}
div#myDIV {
    position: fixed;
    width: 130px;
    height: 93px;
    background: linear-gradient(to bottom,orange,red);
    left: 10px;
    top: 100px;
}
#Formulario{
    display: none;    


}
